<h2 class="sub-header">Select Deployment</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Deployment</th>
                <th>Deployment Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="deploy in deployments">
                <td>{{deploy.roleName}}</td>
                <td>
                    <input type="text" class="form-control" ng-model="deploy.deploymentId" placeholder="Enter Deployment Id" />
                    <span class="help-block">(can be retrieved from the azure portal).</span>

                </td>
                <td>
                    <button class="btn btn-default" ng-click="goToDeployment(deploy);">View</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
