<h2 class="sub-header" ng-bind="tableName"></h2>
<div class="row">
    <div class="col-md-2">
        <tablepagerlinks></tablepagerlinks>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary" data-toggle="modal" data-target="#filterModal">Filter</button>
        <button ng-show="hasFilter" class="btn btn-primary" data-toggle="modal" data-target="#columnsModal">Select Columns</button>
        <button ng-show="hasFilter" class="btn btn-primary" ng-click="export();">Download</button>
    </div>
</div>
<div class="row" ng-show="hasFilter">
    <div class="col-md-2">
        <span>Filter</span>
    </div>
    <div class="col-md-6">
        <span ng-show="filter != ''">
            <span ng-bind="filter"></span>&nbsp;
        </span>
        <span ng-show="fromDate || toDate">between
            <span ng-bind="fromDate"></span> and 
            <span ng-bind="toDate"></span>
        </span>

    </div>
</div>
<div class="table-responsive" ng-show="hasFilter && entries.length > 0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="heading in headings">{{heading.value}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rows in entries">
                <td ng-repeat="row in rows.values">{{row.value}}</td>
            </tr>

        </tbody>
    </table>
</div>

<div class="row" ng-show="hasFilter && entries.length == 0">
    <p class="bg-warning">No results to display</p>
</div>
<div class="row" ng-show="!hasFilter">
    <p class="bg-info">Please select a filter to view data</p>
</div>
<div class="modal fade" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Filter Results</h4>
            </div>
            <div class="modal-body">
                    <div ng-show="keyType == 0 || keyType == 1">
                        <div class='row'>
                            <div class='form-group'>
                                <label class="col-sm-2 control-label" for="">From</label>
                                <div class="dropdown col-sm-9">
                                    <a class="dropdown-toggle" id="from-dropdown" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-ng-model="fromDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="fromDate" data-datetimepicker-config="{ dropdownSelector: '#from-dropdown', minView: 'hour' }" />
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class='row'>
                            <div class='form-group'>
                                <label class="col-sm-2 control-label" for="">To</label>
                                <div class="dropdown col-sm-9">
                                    <a class="dropdown-toggle" id="to-dropdown" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-ng-model="toDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="toDate" data-datetimepicker-config="{ dropdownSelector: '#from-dropdown', minView: 'hour' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='form-group'>
                                <label class="col-sm-2 control-label" for="">Range</label>
                                <div class="dropdown col-sm-9">
                                    <select ng-model="interval" ng-change="updateInterval()" id="interval-dropdown" class="form-control">
                                        <option value="24">Last 24 Hours</option>
                                        <option value="48">Last 48 Hours</option>
                                        <option value="168">Last Week</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='form-group'>
                            <label class="col-sm-2 control-label" for="">Filter</label>
                            <div class="dropdown col-sm-9">
                                <textarea class="form-control" id="filter" ng-model="filter"></textarea>
                                <span class="help-block">Filter values must match the conventions used for <a href="http://msdn.microsoft.com/en-us/library/azure/dd894031.aspx" target="_blank">azure table queries.</a></span>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="applyFilter()" data-dismiss="modal">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="columnsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Columns</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div ng-repeat="perf in allHeadings">
                            <label>
                                <input type="checkbox" checklist-model="selectedColumnIndex" checklist-value="perf.index">
                                {{perf.value}}
                            </label>
                        </div>
                    </div>

                    <div class="col-md-3">
                       <!-- <div class="row">
                            <button class="btn btn-default" ng-click="selectAllColumns()">Select All</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-default" ng-click="deSelectAllColumns()">Deselect All</button>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="update()" data-dismiss="modal">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
